<h2 class="name">{{name.official}}</h2>
<p class="capital">Capital:{{capital}}</p>
<p class="population">Population:{{population}}</p>
<img src="{{flags.svg}}" alt="flag" width = 30px>
<p class="languages">Languages:{{languages}}</p>